-
	const skillsData = [
		{
			title: 'Фронтенд разработка',
			skills: 'Фреймворки и библиотеки: React, React Router, Redux/Redux Toolkit, Vue/Vuex и Angular.'
		},
		{
			title: 'Верстка вэб-интерфейсов',
			skills: 'Технологии: HTML/HTML5, CSS/SCSS/PostCSS, JavaScript/ES6+, JSON, PUG, GULP, ESLint, Stylelint, GIT. Редактор кода: VS Code.'
		},
		{
			title: 'Графический дизайн и разработка вэб-интерфейсов',
			skills: 'Графические редакторы для дизайна и прототипирования: Photoshop, Illustrator, Figma, XD. Работал со связкой Photoshop+Zeplin. Обработка и коррекция изображений в редакторах: Photoshop, Lightroom.'
		},
		{
			title: 'Верстка полиграфии',
			skills: 'Верстка в графическом редакторе InDesign, автоматизация процессов и написание плагинов и скриптов на Visual Basic и JavaScript, обработка и структурирование данных в MS Excel. Редактирование и доработка макетов в Acrobat-Pro (Enfocus PitStop)'
		}
	];
