-
	const skillsData = [
		{
			title: 'Adobe Creative Suite',
			skills: 'Photoshop, Illustrator, InDesign, XD, After Effects'
		},
		{
			title: 'Prototyping',
			skills: 'Sketch, Figma, InVision, Marvel, Principle, Balsamiq'
		},
		{
			title: 'Additional',
			skills: 'HTML, CSS, Google Analytics, Keynote, Miro'
		},
		{
			title: 'Languages',
			skills: 'Conversational English and Native Russian'
		}
	];
