//-
	Icons:
		green - frontend
		blue - graphic design
		violet - UI
		yellow - UX
		pink - drawing
		orange - promotion

-
	const educationData = [
		{
			title: 'Interface Design: Web & Mobile',
			description: 'IT-Academy, 2020',
			icons: [
				{
					color: 'blue',
					primary: false
				},
				{
					color: 'violet',
					primary: true
				},
				{
					color: 'yellow',
					primary: false
				}
			]
		},
		{
			title: 'Fundamentals of Usability',
			description: 'Skillshare, Oct 2018',
			icons: [
				{
					color: 'yellow',
					primary: true
				}
			]
		},
		{
			title: 'CG Artist',
			description: 'Polygon CG School, <br> May-Sep 2017',
			icons: [
				{
					color: 'pink',
					primary: true
				}
			]
		},
		{
			title: 'Graphic Design',
			description: 'Belarusian State Academy of&nbsp;Arts, 2015&nbsp;&mdash; 2017 Postgraduate Diploma',
			icons: [
				{
					color: 'blue',
					primary: true
				}
			]
		},
		{
			title: 'SEO Specialist',
			description: 'ARTOX Media, Jun-Aug 2012',
			icons: [
				{
					color: 'orange',
					primary: true
				}
			]
		},
		{
			title: 'Information Technology Software',
			description: 'Belarusian State University of&nbsp;Informatics and Radioelectronics, 2011&nbsp;&mdash; 2015 <br> Bachelor&rsquo;s degree Polotsk State Economic College, 2007&nbsp;&mdash; 2011 Associate&rsquo;s degree',
			icons: [
				{
					color: 'green',
					primary: true
				}
			]
		},
	]
