//-
	Icons:
	Position icons:
		green - верстка вэб
		darkgreen - programming
		black - frontend
		blue - graphic design
		violet - UI
		yellow - UX
		pink - drawing/верстка
		orange - полиграфия

-
	const educationData = [
		{
			title: 'Фронтенд-разработчик',
			description: 'Михаил Непомнящий, курс лекций: <br>HTML, CSS, JavaScript, React, React Router, Redux. <br> 2021-2023',
			icons: [
				{
					color: 'darkgreen',
					primary: false
				},
				{
					color: 'black',
					primary: true
				},
				{
					color: 'green',
					primary: false
				}
			]
		},
		{
			title: 'Фронтенд-разработчик',
			description: 'Bogdan Stashchuk, <br>курс лекций: <br>JavaScript, React, GIT. <br> 2021-2023',
			icons: [
				{
					color: 'darkgreen',
					primary: true
				},
				{
					color: 'black',
					primary: true
				}
			]
		},
		{
			title: 'Верстка <br>Вэб-приложений',
			description: 'Дмитрий Лаврик, <br>курс лекций: <br>Классическая и продвинутая вёрстка. Javascript Интенсивный базовый курс <br>2019-2021',
			icons: [
				{
					color: 'darkgreen',
					primary: false
				},
				{
					color: 'green',
					primary: true
				},
				{
					color: 'black',
					primary: false
				}
			]
		},
		{
			title: ' UX-дизайн, <br> UX-аналитика, <br>UI-анимация',
			description: 'Курс лекций: <br>AIC, Skillbox и Тэглайн 2018',
			icons: [
				{
					color: 'violet',
					primary: true
				},
				{
					color: 'yellow',
					primary: true
				}
			]
		},
		{
			title: 'Информатик-технолог',
			description: 'Восточно-Сибирский государственный институт культуры. Факультет: "Информационных технологий" <br>2000—2005',
			icons: [
				{
					color: 'darkgreen',
					primary: true
				},
				{
					color: 'green',
					primary: true
				}
			]
		},
	]
