.preloader {
	// display: none;
	position: fixed;
	left: -999;
	top: 0;
	z-index: 1000;
	width: 0;
	height: 0;
	background: $color-white;
	// opacity: 0;
	transition: all 0.5s ease-in-out;

	&__scene {
		position: absolute;
		display: inline-block;
		bottom: -591px;
		left: -591px;
		width: 591px;
		height: 591px;
		// opacity: 0;
		// background: #000;
		z-index: 999;
		transition: left 0.5s ease-in-out, top 0.5s ease-in-out;


		& picture {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&.is-visible {
		left: 0;
		width: 100vw;
		height: 100vh;
		opacity: 1;
	}
}

@include tablet {
	.preloader {
		&__scene {
			width: 391px;
			height: 391px;
			left: -391px;
			bottom: -391px;


			img {}
		}
	}
}

@include mobile {
	.preloader {
		&__scene {
			width: 200px;
			height: 200px;
			left: -200px;
			bottom: -200px;

			img {}
		}
	}
}
