mixin backgroundPattern
	svg(xmlns='http://www.w3.org/2000/svg', width='1262', height='396', viewbox='0 0 1262 396', fill='none')
		path(d='M4.99996 258.098C87.1769 211.847 412.63 308.897 521.657 337.709C630.684 366.521 886.164 430.21 1032.62 337.709C1179.07 245.208 1252 2.99987 1252 2.99987', stroke='url(#paint0_linear_12766_175)')
		defs
			lineargradient#paint0_linear_12766_175(x1='1274.27', y1='173.937', x2='4.18663', y2='174.81', gradientunits='userSpaceOnUse')
				stop(offset='0.0833333', stop-color='#FCDED1', stop-opacity='0')
				stop(offset='0.322917', stop-color='#FCDED1', stop-opacity='0.6')
				stop(offset='0.713542', stop-color='#FCDED1', stop-opacity='0')
				stop(offset='0.911458', stop-color='#FCDED1', stop-opacity='0.2')
