extends pug/base

prepend vars
	- title = 'Кодаков Вадим, резюме.'
	- description = 'С 2020 года я специализируюсь на фронтенд-разработке веб-приложений. Мой профессиональный стек включает в себя HTML, CSS, JavaScript, а также фреймворки и библиотеки, такие как React.js и Angular. Я уверенно работаю с современными инструментами и технологиями разработки, такими как Git, Gulp, PUG, SCSS. Также более 15 лет профессионально занимаюсь графическим дизайном.  Имею опыт проектирование, прототипирование и дизайна проектов разной сложности. На высоком  уровне владею графическими редакторами Adobe (Photoshop, XD,  Illustrator, InDesign, Acrobat-Pro), Figma.'
	- image = './images/share.jpg'

append vars
	- link.icon16x16 = './favicon_16x16.png'
	- link.icon32x32 = './favicon_32x32.png'

block content
	include pug/components/header/index
	include pug/pages/main
	include pug/components/footer/index
	include pug/components/preloader/index
	include pug/components/scrollPosition/index
