extends pug/base

prepend vars
	- title = 'Кондаков Вадим, резюме.'
	- description = 'С 2020 года я специализируюсь на фронтенд-разработке веб-приложений. Мой профессиональный стек включает в себя HTML, CSS, JavaScript, имею опыт разработки на React.js, Vue и Angular. Я уверенно работаю с современными инструментами и технологиями разработки, такими как Npm, Git, Gulp, SCSS, PUG, также активно пользуюсь линтерами ESLint и Stylelint.'
	- image = './images/share.jpg'

append vars
	- link.icon16x16 = './favicon_16x16.png'
	- link.icon32x32 = './favicon_32x32.png'

block content
	include pug/components/header/index
	include pug/pages/main
	include pug/components/footer/index
	include pug/components/preloader/index
	include pug/components/scrollPosition/index
