extends pug/base

prepend vars
	- title = '<?= htmlspecialchars($title) ?>'
	- description = '<?= htmlspecialchars($description) ?>'
	- image = '<?= htmlspecialchars($image) ?>'

append vars
	//-

block content
	include pug/components/header/index
	include pug/pages/main
	include pug/components/footer/index
	include pug/components/preloader/index
	include pug/components/scrollPosition/index
