.scroll-position
	.scroll-position__wrap.js-back-to-top
		.scroll-position__progress-bar
			span.scroll-position__counter
				| 0
			span.scroll-position__unit
				| %
		.scroll-position__to-up
			span.scroll-position__to-up-icon
